<html>
    <head>hello from dynamic html</head>
    <body>
        <form action="/docalculation" method="post">
        <label for="t1"></label>
        <input type="text" id="t1" name="num1"><br><br>
        <label for="t2"></label>
        <input type="text" id="t2" name="num2"><br><br>
        <input type="submit" value="calculate">
       <p>Result = {{result}} </p>

        </form>
    </body>
</html>